<%= form_tag({:controller => :consult, :action => :index}, {:method => :post}) do |f| %>

    <div class="splitcontent">
      <fieldset class="box tabular">
        <p>
          <label for="nro_chamado"><%= l('label_consultar_chamado') %><span class="required"> *</span></label>
          <%= number_field_tag :chamado_nro, :required => true, :size => 40 %>
          <%= submit_tag l('btn_consultar_chamado') %>
        </p>
      </fieldset>

      <fieldset class="box tabular">
        <label></label>
      </fieldset>
    </div>

<% end %>